{%extends 'all-hive/base.html'%}
{% load bootstrap3 %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  
 

  {% block styles %}

    {% bootstrap_css %}
    
  {% endblock %}

</head>
<body>
    {% block content %} 
   
                <div >
                  
                    <img src="/media/image/fintech.jpg" alt="test" class="img-responsive" style="width:100%; height:350px; margin-top:-30px; ">
                  
                    <div class="carousel-caption">
                      <h1 style="margin-top:-200px; color: darkgoldenrod; font-weight: bold; font-size: 80px; font-family: 'Abril Fatface', cursive;"></h1>
                    </div>
                  
                 </div>
              
          
                 <link href="https://fonts.googleapis.com/css?family=Modak&display=swap" rel="stylesheet">
                 <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Modak&display=swap" rel="stylesheet">


    
                 <div class="container">
                    <div class="row">
                      <div class="col-md-4">
                         <h2 style="color: darkgoldenrod; font-weight: bold; font-size: 30px; font-family: 'Abril Fatface', cursive;">FinTech</h2> 
                         <p>Financial technology, often
                          shortened to fintech, is the
                          technology and innovation
                          that aims to compete with
                          traditional financial methods in
                          the delivery of financial
                          services. </p>
                     </div>
                      
                  </div>
                 </div>


    {%endblock%}

    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     {% bootstrap_javascript %}
    {% endblock %}
</body>
</html>